*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body
{
    font-size: 16px;
}
div.introduce
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255 255 255);
    font-family: OpenSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
div.content-introduce
{
    width: 40%;
    margin: 5%;
    text-align: left;
}
div.contain-img
{
    width: 40%;
    margin: 5%;
}
div.contain-img img
{
    width: 100%;
}
div.content-introduce  h1
{
    display: block;
    font-size: 4em;
    padding: 30px 14px;
    text-align: left;
    font-weight: 600;
}
div.content-introduce p
{
    font-size: 2.0rem;
    padding: 30px 14px;
    margin: 10px;
}
div.buttonclick
{
    padding: 30px 14px;
    display: flex;
    width: 30%;
    justify-content: space-between;
}
input#join
{
    border-width: 0px!important;
    padding: 20px 20px ;
    background-color: #0056d2;
    text-align: center;
    border-radius: 5px;
    border-color: #0056d2;
    height: 60px;
    width: 200px;
    font-weight: 600;
    font-size: 0.9rem;
}
input#try
{
    padding: 20px !important;
    background-color: #ffffff;
    color: #0056d2;
    border-radius: 5px;
    border-color: #0056d2;
    border-width: 3px;
    text-align: center;
    height: 60px;
    width: 300px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 0.9rem;
}
div.contain-donor
{
   width: 100%;
}
div.title-donor
{
    text-align: center;
    padding: 16px;
    margin: 20px 16px;
}
div.list-donor
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5% ;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
div.list-donor-items
{
    width: 100%;
    align-content: centers;
}
div.list-donor-items
{
    margin: 10px;
}
div.list-donor-items > img
{
    width: 80%;
    vertical-align: middle;
}
div.might
{
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    padding: 20px 22px;
}
div.might > h2
{
   font-size: 2.5rem;
   color: #282781;
}
div.suggest
{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div.suggest-img
{
    width: 40%;
    margin: 5%;
}
div.suggest-img img
{
    width: 100%;
}
div.suggest-content
{
    width: 40%;
    margin: 5%;
    
}
div.suggest-content ul
{
    padding: 16px 10px;
    color: rgb(13, 13, 156);
    font-weight: bold;
    font-size: 1.5rem;
}
div.suggest-content ul li
{
    color: rgb(21, 231, 231);
    font-weight: 600;
    padding: 5px;
    font-size: 1.3rem;
}
div.start-introduce
{
    width: 100%;
    text-align: center;
}
div.start-introduce p
{
    font-size: 1.5rem;
}
div.start
{
    box-sizing: border-box;
    width: 100%;
}
div.start-content
{
    width: 90%;
    margin: 0 5%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
div.start-step
{
    text-align: center;
    font-weight: 300;
    overflow: hidden;
    padding-top: 30px!important;
    padding-right: 20px!important;
    padding-bottom: 40px!important;
    padding-left: 20px!important;
    width: 26%;
    margin: 2%;
    background-color: #ffffff ;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.3rem;
    box-shadow: 20px 20px 10px grey;
    flex-wrap: nowrap;
    flex-direction: row;
}
div.start-introduce > h2
{
    color: #282781;
    padding: 20px;
    font-weight: bold;
}
div.suggest-sign
{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
input#joinnow
{
    margin: 10px;
    padding: 20px;
    width: 180px;
    height: 50px;
    color: #ffffff!important;
    border-width: 0px!important;
    border-radius: 7px;
    font-weight: 700!important;
    background-color: #f15a29;
    font-size: 1.0rem;
}
div.suggest-sign > h2
{
    color: #0056d2;
    padding: 20px;
}
div.course
{
    width: 100%;
    background-color: #282781;
    position: relative;
}
div.course-content
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
div.course-content-items
{
    width: 26%;
    margin: 2%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding-top: 45px!important;
    padding-right: 15px!important;
    padding-bottom: 45px!important;
    padding-left: 15px!important;
    box-shadow: 20px 20px 50px 10px powderblue inset;
    /* box-shadow: 20px 20px 10px grey; */
}
div.course-content-items > h2
{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}
div.course-content-items  p
{
    font-size: 1.3rem;
    font-weight: 600;
}
input#watch-more
{
    color: #ffffff!important;
    border-color: rgba(0,0,0,0);
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 50px;
    font-weight: 700!important;
    background-color: #f15a29;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    transition: background-color white 300ms ease 0ms;
}
div.watch
{
    position: absolute;
    top: 90%;
    left: 15.5%;
    z-index: 999;
    
}
div.watch1
{
    position: absolute;
    top: 90%;
    left: 46%;    
    z-index: 999;

}
div.watch2
{
    position: absolute;
    top: 90%;
    left: 76%;
    z-index: 999;
  
}
div.title-course
{
    text-align: center;
    padding: 25px;
}
div.title-course h1
{
    padding: 15px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
}
div.title-course p
{
    padding: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
}
div.teacher-content
{
    background-color: #f3f3fa;
}
div.logo-company
{
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    display: flex;
    justify-content: space-around;
}
div.teacher-content
{
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    display: flex;
    justify-content: space-evenly;
}
div.teacher-profile
{
    width: 30%;
    background-color: #ffffff;
    text-align: left;
    padding: 70px 20px 70px 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}
div.teacher-profile h3
{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 12px;
}
div.teacher-profile p
{
    font-size: 1.1rem;
    padding: 12px;
}
div.img-teacher
{
    text-align: center;
}
div.author
{
    font-weight: bold;
    font-size: 1.2rem;
}
div.teacher > h1
{
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
}
div.contract-course
{
    width: 100%;
    background-color: #4787e0;
}
div.contract-course-content
{
    width: 90%;
    margin: 2.5% 5% 2.5% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.infomation-course
{
    width: 40%;
}
div.register
{
    width: 40%;
}
input#contract
{
    display: block;
    padding: 16px;
    width: 80%;
    margin: 10px 0px 10px 0px;
    border-radius: 7px;
    height: 50px;
}
div.infomation-course h2
{
    font-size: 2.3rem;
    color: #f3f3fa;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
div.register h3
{
    margin-top: 20px;
    padding: 10px 10px 10px 0px;
    font-size: 2.0rem;
    color: #f3f3fa;
    font-weight: bold;
}
div.register p
{
    padding: 0px 10px 20px 0px;
    font-size: 1.6rem;
    color: #f3f3fa;
}
input#register
{
    padding: 20px;
    width: 190px;
    height: 60px;
    font-size: 1.0rem;
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 7px;
    font-weight: 700!important;
    background-color: #f15a29!important;
    cursor: pointer;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    transition: background-color 300ms ease 0ms;
}
div.button
{
    padding: 20px 10px 10px 0px;
}