@media screen and (max-width:600px)
{
    *{
        box-sizing: border-box;
    }
    div.main
    {
        flex-direction: column;
        height: auto;
    }
    img{
        width: 100%;
    }
    div.Main-left{
        width: 100%;
        height: auto;
        margin: 0%;
    }
    div.Office-information{
        display: block;
    }
    div.Main-right{
        width: 100%;
        display: block;
        flex-direction: column;
        margin: 0%;
    }
    div#header{
        width: 100%;
    }
    div.Footer{
        width: 100%;
        font-size: 10px;
        display: block;
    }
    div.Footer-title-left{
        font-size: 20px;
        width: 100%;
        border-right: none;
    }
    div.Footer-title-right{
        font-size: 20px;
        width: 100%;
    }
    div.Software
    {
        display: block;
        width: 100%;
    }
    div.container-items-right
    {
        display: block;
    }
    div.news-img{
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    div.img img{
        width: 100%;
    }
    div.content1{
        text-align: center;
    }
    ul.Nav-menu,ul.Nav-menu-left,ul.Nav-menu-right{
        display: block;
       
    }
    ul.Nav-menu{
        position: static;
       
    }
    div.Nav{
        display: none;
    }
    div.Nav-mobile-icon
    {
        display: block;
    }
    i.fa-soild fa-bars
    {
        padding: 16px;
    }
    /* div.Nav-mobile-icon:hover .Nav-Mobile
    {
        display: block;
        z-index: 99;
        opacity: 0.7;
    } */
    .menu1
    {
        position: relative;
    }
    .drop-menu1
    {
        position: absolute;
        display: none;
        background-color: #171c24;
        width: 100%;
    }
    .drop-menu1 > li
    {
        list-style-type: none;
        font-weight: 600;
        border: 1px solid whitesmoke ;
        max-width: 600px;
    }
    /* .menu1:hover .drop-menu1
    {
        display: block;
        top: 0;
        left: 228px;
        font-weight: bold;
    } */
    .menu2
    {
        position: relative;
    }
    .drop-menu2
    {
        position: absolute;
        display: none;
        background-color: #171c24;
        width: 100%;
    }
    .drop-menu2 > li
    {
        list-style-type: none;
        font-weight: 600;
        border: 1px solid whitesmoke ;
        max-width: 600px;
    }
    /* .menu2:hover .drop-menu2
    {
        display: block;
        top: 0;
        left: 228px;
        font-weight: bold;
        
    } */
    ul.Nav-menu li 
    {
        padding: 10px;
    }
    li.Menu-items.menu1
    {
        width: 220px;
    }
    button#show1
    {
        padding: 5px;
    }
    button#hide1
    {
        padding: 5px;
    }
    button#show2
    {
        padding: 5px;
    }
    button#hide2
    {
        padding: 5px;
    }
    img#close
    {
        width: 25% ;
        height: 25%;
    }
    div.close-bar
    {
        display: none;
    }
    div#wrapper
    {
        min-height: 5vh;
        background-color: #171c24;
    }
    #navbar-toggle
    {
        width: 48px;
        height: 48px;
        background-color: #0097e6;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #navbar-toggle::before
    {
        content: " ";
        width: 28px;
        height: 2px;
        background-color:  #fff;
        position: absolute;
        transform: translateY(-6px);
        transition: 0.25s ease-in-out;
    }
    #navbar-toggle::after
    {
        content: " ";
        width: 28px;
        height: 2px;
        background-color:  #fff;
        position: absolute;
        transform: translateY(6px);
        transition: 0.25s ease-in-out;
    }
    #navbar-toggle.open{
        background-color: #e84118;
    }
    #navbar-toggle.open::before
    {
       transform: rotate(45deg);
    }
    #navbar-toggle.open::after
    {
       transform: rotate(-45deg);
    }
    #navbar-toggle-off
    {
        width: 48px;
        height: 48px;
        background-color: #0097e6;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #e84118;
    }
    #navbar-toggle-off::before
    {
        content: " ";
        width: 28px;
        height: 2px;
        background-color:  #fff;
        position: absolute;
        transform: rotate(45deg);
        transition: 0.25s ease-in-out;
    }
    #navbar-toggle-off::after
    {
        content: " ";
        width: 28px;
        height: 2px;
        background-color:  #fff;
        position: absolute;
        transform: rotate(-45deg);
        transition: 0.25s ease-in-out;
       
    }
}
    